@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: "Nougat";
  src: url("../font/Nougat-ExtraBlack.ttf");
}

*,
*::after,
*::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --heading-text: 0 4px 0 #000;
  --roxo: #922ef3;
  --cinza-escuro: #323232;
  --ciza-claro: #808080;
  --branco-amarelado: #fafafa;
  --vinho: #3B0620;
}

.container {
  width: 1200px;
}

/* NAV BAR */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 100%;
  height: 70px;
}

.nav-bar .logo img {
  height: 100%;
  object-fit: cover;
}

.logo h2 {
  font-family: "Nougat";
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  word-spacing: -0.3rem;

}

h1 {
  font-family: 'Lilita One';
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: -.02em;
  font-weight: 400;
  text-shadow: var(--heading-text);
  -webkit-text-stroke-width: .025em;
  -webkit-text-stroke-color: black;
}

/* SESSÃO BANNER INICIAL */
.banner-home {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(circle, rgba(242, 163, 94, 1) 20%, rgba(217, 136, 89, 1) 40%, rgba(191, 84, 104, 1) 100%);
}

.banner-home::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #3B0620, transparent);
  z-index: 10;
}

.banner-home img {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#sun_id,
#leftMontain_id,
#rightMontain_id {
  transition: transform;
  will-change: transform;

}

.banner-home #left_Montain_id {
  left: 0;
  z-index: 2;
}

.banner-home #right_Montain_id {
  z-index: 2;
}

.banner-home #floor_id {
  z-index: 3;
}

#sun_id {
  will-change: top;
}

#leftMontain_id,
#rightMontain_id {
  will-change: left, right;
}

.banner-home #sun_id {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #F8DDA4;
  opacity: 0.9;
  box-shadow: 0 0 40px 15px #F8DDA4;
}

.banner-home .title {
  z-index: 3;
  top: 10%;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 500px;
}

.banner-home .title h1 {
  font-family: 'Nougat';
  line-height: .8;
  word-spacing: -1rem;
}

.banner-home .title span {
  color: red;
  text-shadow: 0 12px 0 black;
  font-family: 'Nougat';
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: -.02em;
  font-weight: 400;
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  animation: animate 2s infinite;
  animation-delay: -0.4s;
}

.indicator .arrow {
  display: block;
  width: 30px;
  height: 30px;
  margin: -5px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.indicator .arrow:nth-child(1) {
  animation-delay: -0.4s;
}

.indicator .arrow:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* SESSÃO BEM VINDO */
.welcome {
  background-color: #3B0620;
  padding-top: 100px;
  width: 100%;
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, .75));
}

.welcome .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome .title {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.welcome .text {
  width: 60%;
  line-height: 1.8;
}

.welcome .text p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
}

.welcome .wrapper {
  column-gap: 16px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.welcome .wrapper .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding: 40px 25px;
  background-color: #fafafa;
  font-family: "roboto";
}

.welcome .wrapper .card .fa-icon {
  font-size: 56px;
  color: var(--vinho)
}

.welcome .wrapper .card h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 16px 0 8px 0;
}

.welcome .wrapper .card p {
  text-align: center;
  font-size: 14px;
  color: #808080;
}

/* SESSAO SOBRE MIM */
.about-me {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.about-me .text-content {
  height: 100%;
  width: 100%;
  background: rgb(146, 46, 243);
  background: radial-gradient(circle, rgba(146, 46, 243, 1) 0%, rgba(81, 0, 157, 1) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me .text-content .title {
  margin: 24px 0;
}

.about-me .text-content .descprition {
  width: 100%;
  padding: 0 16%;
  font-size: 18px;
  color: #fff;
  text-align: justify;
  font-family: "Roboto";
}

.about-me .user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #323232;
  background-image: url(../assets/brawlpattern.png);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}

.about-me .user-content .user-card {
  position: relative;
  width: 90%;
  height: 95%;
  background-color: #fafafa;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card::before {
  left: -25%;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}

.user-card::after {
  right: -25%;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
}

.user-card::after,
.user-card::before {
  content: '';
  position: absolute;
  top: 58%;
  width: 700px;
  height: 200px;
  background: #fafafa;
}

.about-me .user-content .img-user {
  width: 100%;
  height: 400px;
}

.img-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.user-content .user-title {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.user-content .user-title h2 {
  font-family: "Roboto";
  color: #323232;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.user-content .user-subtitle {
  position: relative;
  z-index: 10;
}

.user-content .user-subtitle h2 {
  font-family: "Roboto";
  color: var(--roxo);
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.user-card .wrapper {
  position: relative;
  z-index: 12;
  display: inline-flex;
}

.user-card .wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-card .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-card .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-card .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0e76a8;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.about-brawl {
  padding: 0 8%;
  position: relative;
  width: 100%;
  height: 80vh;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-brawl .image-content {
  height: 90%;
  /* left: 10%; */
  /* background-color: #0e76a8; */
}

.about-brawl .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-brawl .text-content {
  position: relative;
  width: 65%;
  height: 100%;
  /* background-color: #0e76a8; */
  padding: 5%;
}

.about-brawl .text-content .title {
  font-family: "lilita one";
  color: #000;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.about-brawl .text-content .description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 2;
}

/* SESSAO CARROSSEL */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #2e36f3;
  background-image: url(../assets/brawlpattern.png);
  background-repeat: repeat;
  background-size: auto;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, .75));
}

.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(83.08% 50% at 50% 50%, rgba(107, 113, 232, .45) 0, rgba(13, 19, 155, .6) 100%)
}

.carousel .container {
  position: relative;
}

.carousel-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel .carousel-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  align-items: center;
}

.carousel-content .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.carousel-content .text-content h1 {
  margin-bottom: 24px;
}

.carousel-content .text-content p {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.65;
}

.text-content ul {
  font-family: "Roboto";
  font-size: 24px;
  list-style: disc !important;
}

.text-content ul li {
  margin-left: 40px;
  margin-bottom: 15px;
}

.text-content ul li span {
  font-weight: 900;
  text-transform: uppercase;
}

.carousel-content .image-content {
  width: 100%;
  height: 100%;
}

.carousel-content .image-content img {
  max-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel :is(.swiper-button-next, .swiper-button-prev) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  top: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color .3s;
}

.carousel :is(.swiper-button-next, .swiper-button-prev)::after {
  font-weight: 800;
  font-size: 24px;
  color: var(--branco-amarelado);
}

.carousel :is(.swiper-button-next, .swiper-button-prev):hover {
  background-color: var(--roxo);
}

/* SESSAO SOBRE A ONU */
.about-onu {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  background-color: var(--vinho);
  padding-bottom: 100px;
}
.about-onu .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.about-onu .title {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
.about-onu .description {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.about-onu .description p {
  width: 50%;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.8;
  color: #fff;
}
.about-onu .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  
}
.about-onu .text-content .icon {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.about-onu .text-content .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #DE712C;
  bottom: 8px;
  left: 8px;
  border-radius: 15px;
  z-index: -1;
}
.text-content .icon i {
  font-size: 56px;
  color: #DE712C;
}
.about-onu .text-content h2 {
  font-size: 32px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #DE712C;
  margin: 24px 0 8px 0;
}
.about-onu .text-content p{
  font-size: 18px;
  font-family: "Roboto";
  line-height: 1.8;
  color: #fff;
  text-align: justify;
}

